body {
    display: block;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 4em;
}

.image-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 20%;
  }

img:hover {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}